<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMG_page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AMG_page.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
<body>
    @*--------------------------------*@
    <div class="spinner-load">
        <div class="spinner"></div>
    </div>
    @*--------------------------------*@
    <header>
        <nav class="navbar navbar-expand-lg fixed-top cabecera">
            <div class="container-fluid">
                <a class="navbar-brand m-auto" asp-area="" asp-controller="Home" asp-action="Index">
                    <img loading="lazy" src="~/img/image1-cerebro.png" />
                    <img class="navbar-brand m-auto" loading="lazy" src="~/img/image-resize.png" />
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="bottom-page">
        <div class="mt-3 mt-lg-5 col-12">
            <div class="mb-3 row m-auto text-center col-6">
                <label for="staticEmail" class="col-12 col-lg-6 col-form-label">Email: amg@amg-ti.com</label>
                <label for="staticEmail" class="col-12 col-lg-6 col-form-label">Telefono: 462 163 5587 </label>
                <label for="staticEmail" class="col-12 col-lg-6 col-form-label m-auto">WhatsApp: 462 212 2171</label>
            </div>
        </div>
        <footer class="footer text-muted">
            <div class="container">
                &copy; 2022 - AMG.
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
