@{
    ViewData["Title"] = "Home Page";
}



<div id="div" class="container pt-lg-5 pt-3 mt-3 mt-lg-5">
    <div class="row pt-4">
        <div class="div-desc glass-effect text-center text-wrap  text-lg-start col-lg-7">
            <h1 class="text-center  mt-5">Hola Mundo</h1>
            <br />
            <br />
            <p class="fs-5 text">
                AMG es una empresa de desarrollo web con un año de trayectoria laboral donde nuestros
                proyectos avalan nuestro dominio en distintas tecnologías tales como HTML, CSS, JavaScript, PHP, Laravel,
                C#, asp.net, Bootstrap, SQL, entre otras;
                las cuales hemos utilizado en distintos tipos de proyectos como los que se muestran a continuación...
            </p>
        </div>
        <div class="col-lg-5 mt-5 img-desc">
            <img loading="lazy" class="display-4 img img-fluid" width="500px" height="350px" src="~/img/COMPUTADORA.png" />
        </div>
    </div>

    <div class="row mt-5 pt-5">
        <div class="div-desc mt-1 text-center text-wrap  text-lg-start col-lg-7">
            <img loading="lazy" class="display-4 img img-fluid" height="450px" src="~/img-systems/panel-admin.png" />
        </div>
        <div class="col-lg-5  glass-effect  img-desc">
            <h1 class="text-center  mt-5">Sistema de ventas</h1>
            <br />
            <p class="fs-5 text">
                AMG es una empresa de desarrollo web con un año de trayectoria laboral donde nuestros
                proyectos avalan nuestro dominio en distintas tecnologías tales como HTML, CSS, JavaScript, PHP, Laravel,
                C#, asp.net, Bootstrap, SQL, entre otras;
                las cuales hemos utilizado en distintos tipos de proyectos como los que se muestran a continuación...
            </p>
        </div>

        <div class="div-desc mt-1 text-center text-wrap  text-lg-start col-lg-7" >
            <h1 class="text-center glass-effect mt-5">Sistema de ventas</h1>
            <br />
            <p class="fs-5 text">
                AMG es una empresa de desarrollo web con un año de trayectoria laboral donde nuestros
                proyectos avalan nuestro dominio en distintas tecnologías tales como HTML, CSS, JavaScript, PHP, Laravel,
                C#, asp.net, Bootstrap, SQL, entre otras;
                las cuales hemos utilizado en distintos tipos de proyectos como los que se muestran a continuación...
            </p>
        </div>
        <div class="col-lg-5 img-desc ">
            <img loading="lazy" class="display-4 img img-fluid" height="450px" src="~/img-systems/bg-showcase-1.jpg" />
            
        </div>
        <div class="div-desc glass-effect text-center text-wrap  text-lg-start col-lg-7">
            <h1 class="text-center  mt-5">Hola Mundo</h1>
            <br />
            <br />
            <p class="fs-5 text">
                AMG es una empresa de desarrollo web con un año de trayectoria laboral donde nuestros
                proyectos avalan nuestro dominio en distintas tecnologías tales como HTML, CSS, JavaScript, PHP, Laravel,
                C#, asp.net, Bootstrap, SQL, entre otras;
                las cuales hemos utilizado en distintos tipos de proyectos como los que se muestran a continuación...
            </p>
        </div>
        <div class="col-lg-5 img-desc">
            <img loading="lazy" class="display-4 img img-fluid" src="~/img-systems/login-admin.png" style="height:100% !important;" />
        </div>

    </div>

</div>
